<%- include('partials/header.ejs') %>

<body>

    <%- include('partials/navbar.ejs') %>

    <div class="container">
        <form method="POST" action="salvar-noticia">
            
            <div class="mb-3 mt-3">
              <label for="exampleInputEmail1" class="form-label">Titulo</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="titulo">
              <div id="emailHelp" class="form-text">De um titulo para sua noticia</div>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="descricao"></textarea>
              </div>
  
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
        
</body>
<%- include('partials/footer.ejs') %>