<div class="col-md-4">
    <div class="card mb-4 box-shadow">
    <img class="card-img-top" src="https://via.placeholder.com/300x200" alt="Imagem da notícia">
        <div class="card-body">
            <h5 class="card-title">Título da Notícia</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">Data da Publicação</small>
            <a href="#" class="btn btn-sm btn-outline-secondary">Leia Mais</a>
            </div>
        </div>
    </div>
</div>