<!----modal confirmation delete - starts here--->

<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Delete </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                
            </div>
            <div class="modal-body">
                <p>Do You Really Want to Delete This ?</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <span id= 'deleteButton'></span>
            </div>
            
        </div>
    </div>
</div>



<script type="text/javascript">

    function confirmDeleteModal(id){
        event.preventDefault();
        $('#deleteModal').modal();
        $('#deleteButton').html('<a class="btn btn-danger" onclick="deleteData('+id+');">Delete this</a>');
    }     
    function deleteData(id){
        $('#formEdit'+id).submit();
    }  
</script>
<!----modal confirmation delete - end here--->