<%- include('partials/header.ejs')  %>
<body>
    <div class="container">


        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid mt-4">
            <div class="container ">
                <h1 class="display-4">admnnn</h1>
                <p class="lead">Confira as últimas notícias sobre política, esportes, entretenimento e economia.</p>
            </div>
        </div>



    </div>
</body>
<%- include('partials/footer.ejs')  %>